<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表的搜索跟排序</title>
</head>
<body>
    <div id="app">
      <h2>循环遍历v-for 数组</h2>
      <ul>
        <input type="text" name="" value="" v-model="searchName">
        <li v-for="(p, index) in filterPersons" :key="index">
          {{index}}--{{p.name}}--{{p.age}}
        </li>
      </ul>
      <button type="button" name="button" @click='setOrderType(1)'>年龄升序</button>
      <button type="button" name="button" @click='setOrderType(2)'>年龄降序</button>
      <button type="button" name="button" @click='setOrderType(1)'>原本排序</button>
    </div>
    <script src="../js/vue.js" type="text/javascript"></script>
    <script type="text/javascript">
        const vm = new Vue({ // 配置对象
            el: '#app', // element:选择器
            data: {     // model(数据)
                searchName: '',
                orderType: 0,
                persons: [
                  {
                    name: "kingsleo",
                    age: 18
                  },
                  {
                    name: "kingsleo1",
                    age: 19
                  },
                  {
                    name: "kingsleo2",
                    age:20
                  },
                  {
                    name: "kingsleo3",
                    age:21
                  },
                  {
                    name: "kingsleo4",
                    age: 22
                  }
                ]
            },
            computed: {
              filterPersons() {
                const {searchName, persons, orderType} = this
                let fPersons;
                fPersons = persons.filter(p => p.name.indexOf(searchName) !== -1)
                if (orderType !== 0) {
                  fPersons.sort(function(p1, p2) {
                    if (orderType === 1) {
                      return p1.age - p2.age
                    } else {
                      return p2.age - p1.age
                    }
                  })
                }
                return fPersons
              }
            },
            methods: {
              setOrderType(orderType) {
                this.orderType = orderType
              }
            }
        })
    </script>
</body>
</html>
